.ChatRoom{
    min-height: 100vh;
}

.RoomHeader{
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #34383D;
    padding: 20px;
    border-bottom: 3px solid rgb(77, 77, 77);
    justify-content: space-between;
}

.RoomHeader > button{
    border: 3px solid white;
    background-color: white;
    padding: 10px;
    font-weight: 900;
    color: #34383D;
    cursor: pointer;
    border-radius: 40px;
}

.RoomHeader > button:hover{
    background-color: #34383D;
    color: white;
    border: 3px solid white;
}


.RoomMessages{
    flex: 1;
    padding: 30px;
    overflow: scroll;
}


.RoomFooter{
    display: flex;
    bottom: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    border-top: 3px solid rgb(77, 77, 77);
    background-color: #34383D;
    padding: 20px;
}

.RoomFooter > form{
    display: flex;
    width: 100%;
}
.RoomFooter > form > input{
    width: 90%;
    outline-width: 0;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 10px;
}
.RoomFooter > form > button{
    width: 10%;
    outline-width: 0;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}